@use "../../../global.scss" as *;

.overview-page {
  padding: $overview_page_padding;
  margin: $overview_page_margin;
  border-radius: $global_border_radius;
  position: relative;
  overflow: hidden;
  box-shadow: $box_shadow_common;
  height: calc(100% - 2 * $overview_page_margin);
  background-color: $color_primary_leonardo_white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $padding_medium;

  .top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    .back-arrow {
      color: white;
      height: $avatar_font_size;
    }
  }

  .overlay {
    background-color: $overlay_bg_color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .open-chat-menu,
    .open-cluster-menu,
    .cluster-selection-menu,
    .alert-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: $box_shadow_common;
      transform: translate(-50%, -50%);
      color: $title_color;
      font-size: $input_font_size;
      text-align: center;
      background-color: $color_primary_leonardo_white;
      border-radius: $global_border_radius;
      padding: $padding_large $padding_medium;

      p {
        margin: $padding_large;
      }

      .buttons-section {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
      }

      h2 {
        margin-bottom: $padding_medium;
        font-size: $title_font_size;
        font-weight: $title_font_weight;
        color: $title_color;
      }

      .input-section {
        display: flex;
        gap: $padding_medium;

        input {
          margin-bottom: 0;
        }

        margin-bottom: $padding_medium;
      }
    }
  }

  .data-area {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .categories-area {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .category-list {
        display: flex;
        list-style: none;
        gap: $padding_medium;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        overflow-y: auto;
        padding-bottom: $padding_medium;
      }

      .categories-buttons-area {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-end;

        button {
          min-width: 25%;
        }
      }

      h2 {
        font-size: $title_font_size;
        color: $color_bg_sidebar;
        margin-bottom: $padding_small;
      }

      p {
        color: $color_primary_leonardo_dark_gray;
        padding-bottom: $padding_medium;
      }
    }

    .scrollable-table {
      flex-shrink: 0;
      overflow: auto;
      border-radius: $global_border_radius;
      position: relative;
      margin-bottom: $padding_small;
      border: $overview_thick_border;

      * {
        cursor: default !important;
        user-select: auto !important;
        pointer-events: none !important;
      }

      th,
      td {
        min-width: fit-content !important;
        white-space: nowrap !important;
      }
    }

    .ai-description {
      flex-shrink: 0;
      border: $overview_thick_border;
      border-radius: $global_border_radius;
      overflow: auto;
      max-height: 20vh;
      margin-bottom: $padding_small;

      .title {
        background-color: $color_bg_sidebar;
        color: $color_primary_leonardo_white;
        text-transform: uppercase;
        font-weight: bold;
        padding: $padding_small;
      }

      .text {
        padding: $padding_small;
      }
    }

    .categories-selector {
      ul {
        display: flex;
        list-style: none;
        gap: $padding_medium;
        margin-bottom: $padding_small;
        padding: $padding_small 0;
        overflow-x: auto;

        li {
          min-width: fit-content;
        }
      }
    }

    .dataset-area {
      flex-grow: 1;
      position: relative;
      border-radius: $global_border_radius;
      border: $overview_thick_border;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &.show-chat-table {
        table.dataset {
          display: none;
        }

        table.chat {
          display: table;
        }
      }

      table.chat {
        display: none;
      }

      .table-area {
        overflow: auto;
        width: 100%;
        flex-grow: 1;

        th {
          &.center {
            text-align: center;
          }
        }

        td > .center {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        td:not(:nth-child(2)) {
          min-width: fit-content !important;
          white-space: nowrap !important;
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        padding: calc($padding_small/2) $padding_small;
        align-items: center;
        gap: $padding_large;
      }
    }
  }

  .actions-buttons {
    display: flex;
    gap: $padding_large;
    width: 100%;
    flex-wrap: wrap;

    button:not(.secondary):first-child {
      margin-left: auto;
    }

    .charts-toggle {
      margin-right: auto;
    }

    @media screen and (max-width: $breakpoint_tablet) {
      button {
        width: 45%;
        margin: auto !important;
        padding: $padding_small $padding_small;
      }
      gap: $padding_small;
    }
  }
}

.loading-indicator {
  text-align: center;
  font-size: $title_font_size;
  font-weight: $title_font_weight;
  padding: $padding_large;
  color: $color_bg_sidebar_darker;
}

textarea {
  resize: none;
  flex: 1;
  border-radius: $global_border_radius;
  padding: $padding_small;
  font-family: $font_family_primary;
  font-size: 1rem;
  color: $color_primary_leonardo_dark_gray;
  width: 100%;
  margin-bottom: $padding_medium;

  &.invalid-input {
    border: 2px solid red;
  }
}

input {
  width: 100%;
  padding: $padding_small;
  font-size: $input_font_size;
  border-radius: $global_border_radius;
  margin-bottom: $padding_medium;
}

.charts-buttons {
  display: flex;
  gap: $padding_medium;
}

.table-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40vh;
}
