@use "../../../global.scss" as *;
@use "sass:color";

.chat-page-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color_primary_leonardo_white;
  padding: $padding_medium;
  border-radius: $global_border_radius;
  box-shadow: $box_shadow_common;
  display: flex;

  .scrollable-table {
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
    margin-bottom: $padding_small;

    td {
      text-wrap: nowrap;
    }
  }

  .overlay {
    background-color: $overlay_bg_color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .loading-prompt-message {
      position: absolute;
      top: 1rem;
      left: 50%;
      width: 90%;
      box-shadow: $box_shadow_common;
      transform: translateX(-50%);
      color: $title_color;
      font-size: $title_font_size;
      background-color: $color_primary_leonardo_white;
      border-radius: $global_border_radius;
      padding: $padding_small $padding_medium;
    }

    .publish-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      min-width: fit-content;
      transform: translate(-50%, -50%);
      background-color: $color_primary_leonardo_white;
      padding: $padding_large;
      border-radius: $global_border_radius;
      text-align: center;

      .checkbox-area {
        display: flex;
        align-items: center;
        gap: $padding_small;
        margin-bottom: $padding_large;
        justify-content: center;

        input {
          width: fit-content;
          margin: 0;
        }
      }

      h2 {
        margin-bottom: $padding_large;
      }

      p {
        margin-bottom: $padding_large;
      }

      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .settings-toggle {
    position: absolute;
    top: $padding_medium;
    right: $padding_large;
    margin-top: $padding_small;
  }

  .chat-area {
    border: $overview_thick_border;
    border-radius: $global_border_radius;
    flex-grow: 1;
    padding: $padding_medium;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;

    .ref-point {
      margin-bottom: $padding_large;
    }

    .settings-panel {
      height: 100%;
      width: 100%;

      & > div {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        border-collapse: collapse;
        background-color: $color_primary_leonardo_white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $padding_medium;
        gap: $padding_medium;
        overflow: hidden;

        .split-view {
          display: flex;
          gap: $padding_small;
          margin-bottom: $padding_small;
          overflow: hidden;
          flex-grow: 1;
          width: 100%;

          .side {
            flex: 1;
            flex-shrink: 0;
            width: 50%;
            text-align: center;
            padding: $padding_small;
            border: $overview_thick_border;
            border-radius: $global_border_radius;
            cursor: pointer;
            background-color: $color_bg_sidebar_links_hover;

            &.active {
              background-color: $color_bg_sidebar_links_selected;
              color: $color_primary_leonardo_white;
            }

            &.form-section {
              display: flex;
              flex-direction: column;

              label {
                text-align: left;
                margin-bottom: $padding_small;
                font-size: $input_font_size;
                &:not(:first-child) {
                  margin-top: $padding_large;
                }
              }
              input,
              select {
                font-size: $input_font_size;
                padding: $padding_small;
              }
            }
          }
        }

        &.saved-prompts-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          width: 100%;

          .scrollable-table {
            overflow: auto;
            height: 100%;
          }
        }

        h3 {
          font-size: $username_font_size;
          text-transform: uppercase;
          color: $color_bg_sidebar;
        }

        .scrollable-area {
          flex-grow: 1;
          width: 100%;
          height: 100%;
          overflow-y: auto;
          .message.bot,
          .message.user {
            align-self: center;
            max-width: 100%;

            .buttons-area {
              justify-content: flex-end;
            }
          }
        }

        &.report-area {
          .scrollable-area {
            margin: auto;
            width: 95%;
            .message.report {
              background-color: $bot_message_bg_color;
              color: $bot_message_font_color;
              max-width: 100%;
              margin-bottom: calc(2 * $padding_large);

              .buttons-area {
                left: 0;
              }
            }
          }
        }
      }
    }

    .message {
      padding: $padding_small;
      min-width: 20%;
      margin-bottom: calc($padding_medium + 1.2rem);
      border-radius: $global_border_radius;
      max-width: 80%;
      width: fit-content;
      position: relative;
      .buttons-area {
        margin-top: $padding_small;
        display: flex;
        position: absolute;
        bottom: -0.2rem;
        transform: translateY(100%);
        gap: $padding_medium;
      }

      &:last-child {
        margin-bottom: 2rem;
      }

      &.bot {
        background-color: $bot_message_bg_color;
        color: $bot_message_font_color;
        align-self: flex-start;

        .buttons-area {
          justify-content: flex-start;
          left: 0;
        }
      }

      &.user {
        background-color: $user_message_bg_color;
        color: $user_message_font_color;
        align-self: flex-end;
        .buttons-area {
          justify-content: flex-end;
          right: 0;
        }
      }
    }
  }

  button {
    @media screen and (max-width: $breakpoint_mobile) {
      width: 100%;
    }
  }
  .input-area {
    margin: $padding_small 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: $padding_small;

    button {
      flex-shrink: 0;
      height: 100%;
    }

    @media screen and (max-width: $breakpoint_mobile) {
      flex-direction: column;
      height: auto;
    }

    textarea {
      flex-grow: 1;
      width: 100%;
      padding: $padding_small;
      resize: none;
      border: $overview_thick_border;
      border-radius: $global_border_radius;
      font-size: $input_font_size;
      margin: 0;

      &:focus {
        outline: none;
        box-shadow: $box_shadow_common;
      }
    }

    .buttons {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: $padding_small;

      button {
        height: 100%;
        text-transform: uppercase;
      }
    }
  }

  .bottom-buttons {
    display: flex;
    gap: $padding_small;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint_tablet) {
      justify-content: space-between;

      button {
        flex-grow: 1;
      }
    }
  }
}

.full-width-graph {
  width: 95% !important;
}
