@use "../../global.scss" as *;

.analysisDashboardArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  padding: $padding_medium;

  button.new-analysis {
    margin: 0 auto;
  }

  .history-area {
    margin-top: $padding_large;
    border-radius: $global_border_radius;
    background-color: $color_primary_leonardo_white;
    box-shadow: $box_shadow_common;
    color: $color_primary_leonardo_dark_gray;
    padding: $padding_medium;
    flex-grow: 1;
    height: 20%;
    display: flex;
    flex-direction: column;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-self: end;
      align-items: center;

      .title {
        font-size: $history_area_title_font_size;
        font-weight: bold;
        color: $title_color;
        align-self: center;
      }
    }

    .scrollable-table {
      overflow: auto;
      margin-top: $padding_medium;
      height: 100%;
      border-top-right-radius: $global_border_radius;
      border-top-left-radius: $global_border_radius;
      position: relative;
    }
  }
}

.label {
  padding: $padding_small $padding_medium;
  background-color: $color_primary_leonardo_dark_gray;
  color: $color_primary_leonardo_white;
  width: 60%;
  min-width: fit-content;
  text-align: center;
  border-radius: $global_border_radius;
  box-shadow: $box_shadow_common;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &.failed {
    background-color: $color_bg_label_failed;
    color: $color_font_label_failed;
  }

  &.validated {
    background-color: $color_bg_label_validated;
    color: $color_font_label_validated;
  }

  &.editing {
    background-color: $color_bg_label_editing;
    color: $color_font_label_editing;
  }

  &.processed {
    background-color: $color_bg_label_processed;
    color: $color_font_label_processed;
  }
}
